
@{
    ViewData["Title"] = "Movie List";
}

<!DOCTYPE html>

<html>
<head>
    <title>Movie List</title>
</head>
<body>
<div>
    <h2>My Movie List</h2>
    <p>Welcome to the Index page!</p>
    <p>Hello from our View Template!</p>
</div>
</body>
</html>