@model ToDoMvc.Models.ToDo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ToDo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ToDoName" class="control-label"></label>
                <input asp-for="ToDoName" class="form-control" />
                <span asp-validation-for="ToDoName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToDoDescription" class="control-label"></label>
                <input asp-for="ToDoDescription" class="form-control" />
                <span asp-validation-for="ToDoDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsComplete" class="control-label"></label>
                <input asp-for="IsComplete" class="form-control" value="false" /> 
                <span asp-validation-for="IsComplete" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCompleted" class="control-label"></label>
                <input asp-for="DateCompleted" class="form-control" />
                <span asp-validation-for="DateCompleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
