@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <tr>
        <td>
            <!-- Display the value passed in the ViewData object -->
            <h4>Configuration data value from the appsettings.Development.json file : @ViewData["ExampleValue"]</h4>
        </td>
    </tr>
    
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
